@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

*{
    font-family: 'Montserrat';
}

body {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12.5%;
    background-color: #e7e7e7;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 20px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  
  li a.active {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(0, 0, 0);
    color: white;
  }

/* 오른쪽 데이터 출력 영역 */
.dataArea{
    margin-left:12.5%;
    padding:1px 16px;
    height: 1080px;
}

li .goIntro{
    margin-top: 150px;
}


/* copyright */
.footerDiv {
    text-align: center;
    margin-top: 95%;
  }

.copyRight {
    color: rgb(30, 0, 255);
    font-size: 14px;
    text-decoration: none;
  }

/* Text */
.lineColor {
    color: rgb(255, 0, 0);
    font-weight: bold;
}


.nomalText {
    font-size: 18px;
}

.subTitle {
    font-size: 24px;
    font-weight: bold;
}


/* button */
.btnSet {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
  }

  
  .btnSet:hover {
    background-color: rgb(0, 17, 255);
    border-color: rgb(0, 17, 255);
  }

  .closeSet {
    text-align: center;
    display: inline-block;
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }